* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;

    clip: rect(0, 0, 0, 0);
}

.page-header {
    font-style: italic;
    font-weight: 600;

    background-color: #1a191f;
}

.page-header__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
}

.navbar__list--mobile {
    margin-bottom: 0;
}

.navbar__item {
    display: flex;
    align-items: center;
    width: 30px;
    padding: 5px 0;
    margin: 10px 0;
    margin-right: 15px;

    overflow: hidden;

    transition: all 0.5s;
}

.navbar__icon {
    display: flex;
    width: 30px;
    height: 30px;
}

.navbar__fas {
    position: relative;
    margin-right: 30px;
}

.navbar__fas::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 30px;

    background-repeat: no-repeat;

    transition: all 0.4s;
}

/*google*/

.navbar__fas--google::before {
    background-image: url(../img/mail.svg);
}

.navbar__fas--google:hover::before {
    background-image: url(../img/mail-hover.svg);
}

.navbar__item--active .navbar__fas--google::before {
    background-image: url(../img/mail-hover.svg);
}

/*github*/

.navbar__fas--github::before {
    background-image: url(../img/github.svg);
}

.navbar__fas--github:hover::before {
    width: 25px;
    height: 25px;

    top: 4px;
    left: 5px;

    background-image: url(../img/github-hover.svg);
}

.navbar__item--active .navbar__fas--github::before {
    width: 25px;
    height: 25px;

    top: 4px;
    left: 5px;

    background-image: url(../img/github-hover.svg);
}

/*telegram*/

.navbar__fas--number::before {
    background-image: url(../img/telegram.svg);
}

.navbar__fas--number:hover::before {
    background-image: url(../img/telegram-hover.svg);
}

.navbar__item--active .navbar__fas--number::before {
    background-image: url(../img/telegram-hover.svg);
}

/*faceboock*/

.navbar__fas--faceboock::before {
    background-image: url(../img/facebook.svg);
}

.navbar__fas--faceboock:hover::before {
    background-image: url(../img/facebook-hover.svg);
}

.navbar__item--active .navbar__fas--faceboock::before {
    background-image: url(../img/facebook-hover.svg);
}

/*skype*/

.navbar__fas--skype::before {
    background-image: url(../img/skype.svg);
}

.navbar__fas--skype:hover::before {
    background-image: url(../img/skype-hover.svg);
}

.navbar__item--active .navbar__fas--skype::before {
    background-image: url(../img/skype-hover.svg);
}

.navbar__text {
    margin: 0;
    padding: 0;
}

.navbar__item.navbar__item--active {
    width: auto;
    padding: 7px 15px;

    background-color: #212026;

    border-radius: 5px;
}

.navbar__item.navbar__item--active .navbar__text {
    margin-left: 10px;
}

/* main */

.page-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 50px;

    background-color: #212026;
}

.work__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    margin: 0;
    padding: 0;
    
    list-style: none;
}

.work__item {
    position: relative;

    width: 370px;
    margin-top: 50px;
    overflow: hidden;

    box-shadow: 0 0 10px 1px #444444;

    transition-duration: 0.45s;

    cursor: pointer;
}

.work__item img {
    display: block;
    width: 100%;

    opacity: 1;
}

.work__item:hover img {
    transition-duration: 0.45s;
}

.work__container {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    opacity: 0;
}

.work__title {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;

    font-size: 18px;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #ffffff;
}

.work__link {
    display: flex;
    justify-content: center;
    width: 150px;
    padding: 12px 0;

    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;

    border: 2px solid #ffffff;
    border-radius: 5px;
}

.work__link:hover {
    text-decoration: none;
    color: #000000;

    background-color: rgba(255, 255, 255, 0.7);

    border: 0;
}

.work__item:hover .work__container {
    opacity: 1;

    transition: opacity 0.4s;
}

@media screen and (max-width: 1200px) {
    .work__list {
        justify-content: center;
    }

    .work__item {
        margin-right: 25px;
        margin-left: 25px;
    }
}

@media screen and (max-width: 995px) {

    .work__item {
        width: 43%;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 770px) {
    .work__item {
        width: 370px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 470px) {
    .navbar__list {
        position: relative;
    }

    .navbar__list--mobile {
        margin-bottom: 50px;
    }

    .navbar__item.navbar__item--active {
        position: absolute;
        top: 55px;
    }

    .navbar__item.navbar__item--active:nth-child(3) {
        top: 45px;
    }
}

@media screen and (max-width: 400px) {
    .work__item {
        width: 290px;
        margin-top: 25px;
        margin-bottom: 0;
    }

    .work__item img {
        width: 290px;
        height: 201px;
    }

    .work__title {
        font-size: 16px;
        line-height: 18px;
    }

    .work__link {
        width: 110px;
        padding: 8px 0;

        font-size: 12px;
        line-height: 14px;
    }
}