@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff"); }

@font-face {
  font-weight: 900;
  font-family: "Gotham";
  font-style: normal;
  src: url("../fonts/gothamblack.woff") format("woff"); }

@font-face {
  font-weight: 300;
  font-family: "Lato";
  font-style: normal;
  src: url("../fonts/latolight.woff2") format("woff2"), url("../fonts/latolight.woff") format("woff"); }

@font-face {
  font-weight: normal;
  font-family: "Lato";
  font-style: normal;
  src: url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff"); }

@font-face {
  font-weight: bold;
  font-family: "Lato";
  font-style: normal;
  src: url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff"); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #868686; }

img {
  width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: #868686; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header__list {
  width: 100%; }
  .page-header__list li {
    font-size: 0.8rem;
    text-transform: uppercase; }

.nav-link:not(.active):hover {
  border-bottom: 2px solid #ffbb42;
  border-radius: 0; }

.navbar {
  padding-top: 20px;
  padding-bottom: 20px; }

.navbar-toggler {
  background-color: #ffbb42; }

.navbar-toggler-icon {
  position: relative; }
  .navbar-toggler-icon::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -3px;
    width: 36px;
    height: 20px;
    background-image: url(../img/menu.svg) !important;
    background-repeat: no-repeat; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #ffbb42; }

.nav-pills .nav-link.noactive, .nav-pills .show > .nav-link {
  background-color: #ffffff; }

@media (min-width: 992px) {
  .page-header__list {
    margin-left: 17% !important; } }

.banner {
  padding-top: 6rem;
  margin-bottom: 10rem;
  background-color: #709dca; }

.banner__title {
  margin: 0;
  padding: 0;
  font-size: 1.87rem;
  line-height: 1.87rem;
  font-weight: 900;
  font-family: 'Gotham', sans-serif;
  text-transform: uppercase;
  color: #ffffff; }

.banner__text {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff; }

.banner__form {
  margin-top: 2.18rem;
  padding-bottom: 1.06rem; }

.form-inline {
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  justify-content: space-around; }

.form-inline .form-group {
  flex-grow: 1; }

.form-inline .form-control {
  width: 100%;
  padding: 1.1rem 0;
  padding-left: 2.2rem;
  margin-right: 0.62rem; }

.form-control {
  font-size: 0.81rem; }
  .form-control::placeholder {
    color: #a9a9a9; }
  .form-control:focus {
    border: 2px solid #ffbb42; }

.banner__icon {
  position: relative; }
  .banner__icon::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat; }
  .banner__icon--name::before {
    top: 50%;
    left: 15px;
    width: 13px;
    height: 15px;
    margin-top: -8px;
    background-image: url(../img/name-icon.png); }
  .banner__icon--email::before {
    top: 50%;
    left: 15px;
    width: 16px;
    height: 13px;
    margin-top: -5px;
    background-image: url(../img/email-icon.png); }
  .banner__icon--number::before {
    top: 50%;
    left: 15px;
    width: 13px;
    height: 14px;
    margin-top: -7px;
    background-image: url(../img/phone-icon.png); }

.banner__btn {
  width: 12.5rem;
  font-size: 0.87rem;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ffbb42; }
  .banner__btn:hover, .banner__btn:focus {
    color: #ffffff;
    background-color: rgba(255, 187, 66, 0.9); }

.banner__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 648px; }
  .banner__image img {
    position: relative;
    bottom: -3.12rem;
    display: block;
    width: 648px; }

.banner__switch {
  position: relative;
  bottom: -3.8rem;
  display: flex;
  justify-content: center; }

.banner__toggle {
  display: block;
  width: 0.93rem;
  height: 0.93rem;
  font-size: 0;
  border: 2px solid #dedfe0;
  border-radius: 50%;
  cursor: pointer; }
  .banner__toggle:nth-child(2) {
    margin-left: 0.68rem;
    margin-right: 0.68rem; }
  .banner__toggle--active {
    border-color: #1ca8dd; }
  .banner__toggle:hover {
    border-color: #1ca8dd;
    opacity: 0.5; }

@media (max-width: 992px) {
  .form-inline {
    width: 70%;
    flex-direction: column; }
  .form-inline .form-control {
    margin-right: 0; }
  .form-inline .form-group {
    width: 100%;
    margin-bottom: 0.95rem; }
  .banner__btn {
    width: 100%; } }

.service__slogan {
  margin-bottom: 5.38rem; }

.service__title {
  margin: 0;
  padding: 0;
  font-size: 1.87rem;
  line-height: 1.87rem;
  font-weight: 900;
  font-family: 'Gotham', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  color: #394b50; }

.service__text {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  color: #394b50; }

.service__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

.advantages__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 4rem;
  cursor: pointer; }
  .advantages__item:hover {
    transform: scale(1.1);
    transition-duration: 0.2s; }
  .advantages__item::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat; }
  .advantages__item--icons::before {
    top: 0;
    left: 0;
    width: 45px;
    height: 46px;
    background-image: url(../img/time.png); }
  .advantages__item--design::before {
    top: 0;
    left: 0;
    width: 47px;
    height: 48px;
    background-image: url(../img/design.png); }
  .advantages__item--form::before {
    top: 0;
    left: 0;
    width: 62px;
    height: 44px;
    background-image: url(../img/working-form.png); }
  .advantages__item--retina::before {
    top: 0;
    left: 0;
    width: 50px;
    height: 51px;
    background-image: url(../img/retina.png); }
  .advantages__item--code::before {
    top: 0;
    left: 0;
    width: 47px;
    height: 47px;
    background-image: url(../img/code.png); }
  .advantages__item--landing::before {
    top: 0;
    left: 15px;
    width: 31px;
    height: 55px;
    background-image: url(../img/landing-page.png); }

.advantages__title {
  margin: 0;
  padding: 0;
  padding-left: 14%;
  padding-right: 10%;
  padding-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #394b50; }

.advantages__text {
  margin: 0;
  padding: 0;
  padding-left: 14%;
  padding-right: 10%;
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  color: #7b7b7b; }

@media (max-width: 992px) {
  .advantages__title {
    padding-left: 20%;
    padding-right: 5%; }
  .advantages__text {
    padding-left: 20%;
    padding-right: 5%; } }

@media (max-width: 768px) {
  .advantages__item--icons::before {
    left: 6%; }
  .advantages__item--design::before {
    left: 6%; }
  .advantages__item--form::before {
    left: 4%; }
  .advantages__item--retina::before {
    left: 6%; }
  .advantages__item--code::before {
    left: 6%; }
  .advantages__item--landing::before {
    left: 10%; } }

@media (max-width: 576px) {
  body {
    font-size: 14px; } }

.abount-us {
  margin-top: 5rem;
  background-color: #ffc155; }

.col-6 {
  padding-left: 0;
  padding-right: 0; }

.abount-us__image {
  background-image: url(../img/abount-image.jpg);
  background-size: cover;
  background-position: top center; }

.abount-us__slogan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5rem;
  padding-top: 9.5rem;
  padding-right: 11%; }

.abount-us__title {
  margin: 0;
  padding: 0;
  font-size: 1.87rem;
  line-height: 1.87rem;
  font-weight: 900;
  font-family: 'Gotham', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 1rem;
  font-size: 1.8rem; }

.abount-us__text {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 0.81rem; }

.abount-us__btn {
  margin-top: 1.87rem;
  margin-bottom: 10rem;
  padding: 1rem 2rem;
  font-size: 0.87rem;
  line-height: 0.87rem;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #e7ad48;
  border-radius: 2px; }
  .abount-us__btn:hover {
    color: #ffffff;
    transform: scale(1.15);
    transition-duration: 0.7s; }

@media (max-width: 768px) {
  .abount-us {
    background-image: url(../img/abount-adaptive.jpg);
    background-size: cover;
    background-position: top center;
    background-color: transparent; }
  .abount-us__btn {
    background-color: #ffc155;
    margin-bottom: 5rem; } }

.tariffs {
  background-color: #e7edf3; }

.tariffs .row {
  margin: 0; }

.tariffs__title {
  margin: 0;
  padding: 0;
  font-size: 1.87rem;
  line-height: 1.87rem;
  font-weight: 900;
  font-family: 'Gotham', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 9rem;
  color: #394b50; }

.tariffs__text {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  padding-bottom: 3rem;
  color: #75888d; }

.tariffs__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 195px; }

.price__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ffffff;
  border: 1px solid #ccd5df; }
  .price__item:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px; }
  .price__item:hover {
    transform: scale(1.12, 1.2);
    transition-duration: 0.7s;
    background-color: #709dca;
    cursor: pointer; }

.price__title {
  margin: 0;
  padding: 0;
  padding-top: 3.43rem;
  font-size: 1.56rem;
  line-height: 1.56rem;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #818b95; }

.price__item:hover .price__title {
  color: #ffffff; }

.price__text {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  font-size: 60px;
  line-height: 3.5rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  color: #ffbb42; }

.price__item:hover .price__text {
  color: #ffffff; }

.price__small {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: #818b95; }

.price__item:hover .price__small {
  color: #ffffff; }

.price__sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  font-size: 13px;
  line-height: 13px;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #b5bbc1; }
  .price__sub-menu li {
    width: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-top: 1px solid #e2e9f0; }

.price__item:hover .price__sub-menu {
  color: #c2e1ff; }

.price__btn {
  margin: 0;
  padding: 0;
  padding: 12px 20px;
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ffbb42;
  border-radius: 2px; }
  .price__btn:hover {
    color: #ffffff;
    transform: scale(1.1);
    transition-duration: 0.4s; }

@media (max-width: 992px) {
  .price {
    flex-direction: column;
    align-items: center; }
  .price__item {
    width: 45%; }
    .price__item:nth-child(2) {
      margin: 0;
      margin-top: 30px;
      margin-bottom: 30px; }
    .price__item:hover {
      transform: scale(1.1, 1.14); } }

@media (max-width: 768px) {
  .price__item {
    width: 60%; } }

@media (max-width: 540px) {
  .price__item {
    width: 80%; } }

@media (max-width: 410px) {
  .price__item {
    width: 85%; } }

.works__title {
  margin: 0;
  padding: 0;
  font-size: 1.87rem;
  line-height: 1.87rem;
  font-weight: 900;
  font-family: 'Gotham', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 9rem;
  color: #394b50; }

.works__text {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  margin-bottom: 4.3rem;
  color: #394b50; }

.works__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.steps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%; }

.steps__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .steps__item img {
    display: block; }
  .steps__item:nth-child(1) img {
    width: 71px;
    height: 61px; }
  .steps__item:nth-child(2) img {
    width: 51px;
    height: 66px; }
  .steps__item:nth-child(3) img {
    width: 82px;
    height: 61px; }
  .steps__item:nth-child(4) img {
    width: 69px;
    height: 67px; }
  .steps__item:hover {
    transform: scale(1.03);
    transition-duration: 0.5s;
    box-shadow: 0px 2px 4px 0px #e7edf3;
    cursor: pointer; }
  .steps__item::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat; }
  .steps__item--step-1::after {
    top: -30px;
    left: 230px;
    width: 128px;
    height: 32px;
    background-image: url(../img/arrow-top.png); }
  .steps__item--step-2::after {
    top: 60px;
    left: 220px;
    width: 129px;
    height: 33px;
    background-image: url(../img/arrow-bottom.png); }
  .steps__item--step-3::after {
    top: -30px;
    left: 230px;
    width: 128px;
    height: 32px;
    background-image: url(../img/arrow-top.png); }

.steps__title {
  margin: 0;
  padding: 0;
  margin-top: 5rem;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  text-align: center;
  color: #394b50; }

.steps__text {
  margin: 0;
  padding: 0;
  font-size: 0.81rem;
  line-height: 1.3rem;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #7b7b7b; }

.works__btn {
  margin: 0;
  padding: 0;
  margin-top: 5.6rem;
  margin-bottom: 9rem;
  padding: 1rem 1.87rem;
  font-size: 0.87rem;
  line-height: 0.87rem;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ffbb42;
  border-radius: 2px; }
  .works__btn:hover {
    color: #ffffff;
    opacity: 0.8; }

@media (max-width: 1200px) {
  .steps__item--step-1::after {
    left: 180px; }
  .steps__item--step-2::after {
    left: 175px; }
  .steps__item--step-3::after {
    left: 180px; } }

@media (max-width: 992px) {
  .steps__title {
    margin-top: 2.5rem; }
  .steps__item {
    margin-bottom: 4rem; }
  .steps__item--step-1::after,
  .steps__item--step-2::after,
  .steps__item--step-3::after {
    display: none; }
  .works__btn {
    margin-top: 0;
    margin-bottom: 5rem; } }

@media (max-width: 576px) {
  .steps__item {
    padding-left: 40px;
    padding-right: 40px; } }

.clients {
  background-color: #ffc155; }

.clients__title {
  margin: 0;
  padding: 0;
  font-size: 1.87rem;
  line-height: 1.87rem;
  font-weight: 900;
  font-family: 'Gotham', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 8rem; }

.clients__text {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  margin-bottom: 3.4rem; }

.clients__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.reviews {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 8.75rem; }

.reviews__item {
  display: flex;
  margin-bottom: 1.25rem;
  padding: 0;
  background-color: #ffffff; }

.reviews__image {
  padding-top: 2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem; }
  .reviews__image img {
    width: 121px;
    height: 121px; }

.reviews__container {
  display: flex;
  flex-direction: column; }

.reviews__text {
  margin: 0;
  padding: 0;
  margin-top: 2rem;
  padding-right: 2.5rem;
  font-size: 0.81rem;
  line-height: 1.37rem;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  color: #7b7b7b; }

.reviews__author {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 0.87rem;
  line-height: 1.37rem;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #99a9ae; }
  .reviews__author span {
    color: #f6772c; }

@media (min-width: 992px) {
  .col-lg-6 {
    max-width: 48%; } }

@media (max-width: 992px) {
  .reviews {
    margin-bottom: 5rem; } }

@media (max-width: 768px) {
  .reviews__image img {
    width: 90px;
    height: 90px; }
  .reviews__text {
    font-size: 0.6rem; }
  .reviews__author {
    font-size: 0.65rem; } }

@media (max-width: 576px) {
  .clients__title {
    margin-top: 5rem; }
  .reviews__item {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.25rem; } }

@media (max-width: 470px) {
  .reviews__item img {
    width: 45px;
    height: 45px; }
  .reviews__text {
    padding-right: 1rem; } }

.news__title {
  margin: 0;
  padding: 0;
  font-size: 1.87rem;
  line-height: 1.87rem;
  font-weight: 900;
  font-family: 'Gotham', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 8rem;
  color: #394b50; }

.news__text {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  color: #394b50; }

.news .form-inline {
  margin-top: 1.8rem;
  margin-bottom: 3.12rem;
  padding-left: 15%;
  padding-right: 15%; }

.news .form-inline .form-control:focus {
  border: none; }

.news .form-inline .form-control {
  border: 1px solid #cbcbcb;
  border-radius: 2px; }

.news .form-inline .form-control::placeholder {
  font-size: 0.81rem;
  line-height: 1rem;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  color: #a9a9a9; }

.form-inline .news__icon--name {
  width: 26%; }

.form-inline .news__icon--email {
  width: 33%; }

.form-inline .news__btn {
  width: 20%; }

.news__icon {
  position: relative; }
  .news__icon::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat; }
  .news__icon--name::before {
    top: 50%;
    left: 14px;
    width: 13px;
    height: 15px;
    margin-top: -8px;
    background-image: url(../img/name-icon.png); }
  .news__icon--email::before {
    top: 50%;
    left: 12px;
    width: 16px;
    height: 13px;
    margin-top: -7px;
    background-image: url(../img/email-icon.png); }

.news__btn {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-size: 0.87rem;
  line-height: 0.87rem;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ffbb42;
  border-radius: 2px; }
  .news__btn:hover {
    color: #ffffff;
    opacity: 0.7; }

.news__maps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: top center;
  border-bottom: 1px solid #e3e7ec; }

.news__address {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 279px;
  height: 292px;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  background-color: #394b50;
  border-radius: 50%; }
  .news__address::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -26px;
    margin-left: -12px;
    border: 10px solid transparent;
    border-top: 20px solid #394b50; }

.news__logo {
  margin-bottom: 12rem; }
  .news__logo img {
    width: 50px;
    height: 48px; }
  .news__logo:hover {
    transform: scale(1.1);
    transition-duration: 0.4s; }

.news__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.address__item {
  font-size: 0.81rem;
  line-height: 1.5rem;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #aeb7ba; }
  .address__item--title {
    font-size: 0.93rem;
    line-height: 2.1rem;
    text-transform: uppercase;
    color: #ffffff; }
  .address__item--email {
    color: #ffbb42; }

@media (max-width: 992px) {
  .news .form-inline {
    width: 100%; }
  .news .form-inline .form-control {
    margin-right: 0; }
  .form-inline .news__icon--name {
    width: 50%; }
  .form-inline .news__icon--email {
    width: 50%; }
  .form-inline .news__btn {
    width: 50%; }
  .news__address {
    width: 200px;
    height: 213px; }
  .address__item {
    font-size: 0.65rem; } }

@media (max-width: 470px) {
  .form-inline .news__icon--name,
  .form-inline .news__icon--email,
  .form-inline .news__btn {
    width: 80%; } }

.page-footer__logo {
  display: none; }

.page-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 65px;
  margin-bottom: 20px; }

.page-footer__item {
  margin-right: 35px;
  font-size: 0.81rem;
  line-height: 0.81rem;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  text-transform: uppercase; }
  .page-footer__item a {
    color: #394b50; }
  .page-footer__item a:hover {
    color: #ffbb42;
    text-decoration: none; }

.page-footer__number {
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  color: #394b50; }
  .page-footer__number::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -20px;
    width: 16px;
    height: 17px;
    background-image: url(../img/number.png);
    background-repeat: no-repeat; }

.page-footer__social {
  margin: 0;
  padding: 0;
  list-style: none; }

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px; }

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px; }

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center; }
  .social__link img {
    display: block; }
  .social__link:hover {
    transform: scale(1.3);
    transition-duration: 0.4s; }

@media (max-width: 992px) {
  .page-footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px; }
  .page-footer__image {
    order: 1; }
    .page-footer__image img {
      width: 35px;
      height: 33px; }
    .page-footer__image img:hover {
      transform: scale(1.2);
      transition-duration: 0.5s; }
  .page-footer__number {
    order: 3;
    margin: 0;
    font-size: 0.9rem; }
    .page-footer__number::before {
      top: 7px;
      left: -15px;
      width: 11px;
      height: 12px;
      background-image: url(../img/number-media.png); }
  .page-footer__social {
    order: 2;
    margin: 0;
    margin-left: 80px;
    margin-right: 60px; }
  .page-footer__media {
    display: none; } }

@media (max-width: 470px) {
  .page-footer__social {
    margin-left: 40px;
    margin-right: 30px; }
  .page-footer__number {
    font-size: 0.7rem; } }
