.page-footer {
    margin-top: 40px;

    color: $color-text;

    background-color: $bg-footer;
}

.page-footer__wrapper {
    width: 320px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-footer__logo {
    display: none;
}

.page-footer__social {
    width: 100%;

}

.social__list {
    @include list-style;

    display: flex;
    justify-content: center;

    margin-left: 30px;
    margin-right: 30px;

    border-bottom: 1px solid #e5e5e5;
}

.social__item {
    font-size: 0;
    line-height: 0;
    
    width: 25px; 
    height: 30px;
    padding-top: 80px;
    //padding-bottom: 30px;

    &:nth-child(2) {
        margin-left: 40px;
        margin-right: 40px;
    }
}

.social__link {
    position: relative;

    &::before {
        content: "";

        position: absolute;

        background-repeat: no-repeat;
    }

    &--instagram::before {
        top: -50px;
        left: 0;

        width: 22px;
        height: 21px;

        background-image: url(../../img/inst.svg);
    }

    &--instagram:hover::before {
        background-image: url(../../img/inst-hover.svg);
    }

    &--instagram:active {
        background-image: url(../../img/inst-hover.svg);

        opacity: 0.3;
    }

    &--facebook::before {
        top: -55px;
        left: 0;

        width: 15px;
        height: 28px;

        background-image: url(../../img/fb.svg);
    }

    &--facebook:hover::before {
        background-image: url(../../img/fb-hover.svg);
    }

    &--facebook:active {
        background-image: url(../../img/fb-hover.svg);

        opacity: 0.3;
    }

    &--twitter::before {
        top: -50px;
        left: 0;

        width: 23px;
        height: 20px;

        background-image: url(../../img/tw.svg);
    }

    &--twitter:hover::before {
        background-image: url(../../img/tw-hover.svg);
    }

    &--twitter:active {
        background-image: url(../../img/tw-hover.svg);

        opacity: 0.3;
    }
}

.page-footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
    margin-bottom: 30px;
}

.copyright__text {
    font-size: 19px;
    line-height: 19px;
    font-weight: bold;

    margin-right: 50px;
}

.copyright__link {
    position: relative;

    font-size: 0;

    &::before {
        content: "";

        position: absolute;
        top: -7px;
        left: -25px;

        width: 27px;
        height: 34px;

        background-image: url(../../img/html-logo.png);
        background-repeat: no-repeat;
    }

    &:hover::before {
        background-image: url(../../img/html-logo-hover.png);
    }

    &:active {
        background-image: url(../../img/html-logo-hover.png);

        opacity: 0.3;
    }
}

@media (min-width: $tablet-width) {
    .page-footer {
        margin-top: 60px;
    }

    .page-footer__wrapper {
        width: 768px;
        flex-direction: row;
        justify-content: space-between;

        padding-top: 50px;
        padding-bottom: 60px;
    }

    .page-footer__logo {
        display: block;
        width: 170px;
        margin-left: 50px;
    }

    .page-footer__logo-image {
        position: relative;

        &::before {
            content: "";

            position: absolute;
            top: -5px;
            left: 0;

            width: 102px;
            height: 34px;

            background-image: url(../../img/logo-footer.png);
            background-repeat: no-repeat;
        }
    }

    .social {
        width: 180px;
    }

    .social__list {
        justify-content: space-between;

        width: 180px;
        margin: 0;

        border-bottom: none;
    }

    .social__item {
        padding: 0;
        height: auto;

        &:nth-child(2) {
            margin: 0;
        }
    }

    .social__link  {
        &--instagram::before {
            top: 5px;
        }

        &--facebook::before {
            top: 0;
        }

        &--twitter::before {
            top: 5px;
        }
    }

    .page-footer__copyright {
        align-items: flex-start;
        margin: 0;
        margin-top: 35px;
        margin-right: 50px;
    }

    .copyright {
        width: 190px;
    }

}

@media (min-width: $tablet-width) {
    .page-footer__wrapper {
        width: 1150px;
    }
}