.popular {
    position: relative;

    width: 320px;
    margin: 0 auto;

    &::after {
        content: "";

        position: absolute;
        bottom: 0;

        width: 100%;
        height: 6px;

        background-image: url(../../img/zigzag-popular.png);
        background-repeat: repeat-x;
    }
}

.popular__wrapper {
    padding: 0 30px;
}

.popular__title {
    display: flex;
    flex-direction: column;
}

.popular__text {
    @include indents;

    font-size: 25px;
    line-height: 30px;
    font-weight: bold;

    margin-top: 30px;
    margin-bottom: 5px;
}

.popular__top {
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #63d1bb;

    margin-bottom: 30px;
}

.description {
    display: flex;
    flex-direction: column;
}

.description__text {
    @include indents;

    font-size: 15px;
    line-height: 24px;
    color: $bg-border-btn;

    margin-bottom: 20px;
}

.description__list {
    @include indents;

    font-size: 15px;
    line-height: 20px;
    color: $bg-border-btn;

    border-collapse: collapse;

    & tr {
        border-bottom: 1px solid #ececec;
    }

    & td {
        padding: 10px 0;
    }
}

.description__image {
    margin-top: 30px;
    margin-bottom: 30px;

    & img {
        width: 260px;
        height: 315px;
    }
}

.description__price {
    @include indents;

    font-weight: bold;
    text-align: center;
    color: $bg-border-btn;

    margin-bottom: 30px;
}

.button {
    @include indents;

    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: $bg-border-btn;

    border: 2px solid $bg-border-btn;

    &:hover {
        color: #ffffff;

        background-color: $bg-border-btn;
    }

    &:active {
        color: #7c7c7c;

        background-color: $bg-border-btn;
    }
}

.description__buttton {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
    .popular {
        width: auto;
        margin: 0;

        &::after {
            height: 17px;

            background-image: url(../../img/zigzag-popular-tablet.png);
        }
    }

   .popular__wrapper {
       width: 768px;
       margin: 0 auto;
       padding: 0;
   } 

   .popular__title {
       flex-direction: row;
       align-items: center;
       justify-content: space-between;

       margin-top: 40px;
       margin-bottom: 50px;
   }

   .popular__text {
       font-size: 43px;
       line-height: 50px;

       margin: 0;
   }

   .popular__top {
       line-height: 17px;
       text-align: center;
       
       width: 80px;
       margin: 0;
       margin-top: 10px;
       margin-right: 25px;
   }

   .description {
       position: relative;
   }

   .description__text {
       font-size: 17px;
       line-height: 30px;

       width: 290px;
       margin-bottom: 45px;
   }

   .description__list {
        width: 290px;
        margin-bottom: 50px;
   }

   .description__image {
       position: absolute;
       top: 10px;
       right: 0;

       margin: 0;

       & img {
           width: 333px;
           height: 404px;
       }
   }

   .description__price {
       font-size: 20px;

       width: 290px;
   }

   .description__buttton {
       width: 290px;
       margin-bottom: 50px;
   }
}

@media (min-width: $desktop-width) {
    .popular {
        &::after {
            height: 23px;

            background-image: url(../../img/zigzag-popular-desktop.png);
        }
    }
    .popular__wrapper {
        width: 1150px;
    }

    .popular__title {
        position: relative;
        z-index: 1;

        justify-content: flex-start;

        margin-top: 130px;
    }

    .popular__text {
        order: 2;

        font-size: 53px;
        line-height: 57px;
    }

    .popular__top {
        order: 1;

        margin: 0;
        margin-top: 10px;
        margin-left: 75px;
        margin-right: 65px;
    }
    
    .description {
        margin-left: 225px;
    }

    .description__text {
        margin-bottom: 65px;
    }

    .description__list {
        margin-bottom: 110px;
    }

    .description__image {
        z-index: -1;
        top: -145px;

        & img {
            width: 525px;
            height: 636px;
        }
    }

    .description__buttton {
        margin-bottom: 75px;
    }
}