body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: white;

    background-color: #849d8f;
    background-position: top center;
    background-repeat: no-repeat; 
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.conteiner {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.site-navigation,
.user-navigation {
    margin: 0;
    padding: 0;

    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #ffffff;
}

.site-navigation a:focus,
.site-navigation a:hover,
.site-navigation > li > a:active {
    padding-top: 7px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;

    background-color: #f7f6f3;
    border-radius: 17px;

    color: #000000;

    outline: none;
}

.site-navigation > li > a:active {
    background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0px 2px 1px 0px #696969;
}

.main-navigator__wrapper .conteiner {
    display: flex;
}

.main-header__logo {
    padding: 0;
    padding-top: 10px;
    padding-right: 25px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 385px;
    padding: 0;
    padding-top: 30px;

    font-size: 16px;
    line-break: 18px;
    font-weight: bold;
}

.site-navigation a {
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

.site-navigation__active {
    padding-top: 7px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;

    background-color: #d07058;
    border-radius: 17px;

    color: #000000;

    outline: none;
}

a.site-navigation__active {
    text-decoration: none;
}

/* Стилізація пошуку, корзини, входу*/

.user-navigation {
    display: flex;
    margin-left: auto;
    margin-top: 23px;
}

.user-navigation a {
    display: block;

    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.user-navigation .user-navigation__basket {
    position: relative;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
    padding-left: 45px;

    margin-left: 10px;

    background-color: #9db1a5;

    border-radius: 17px;
}

.user-navigation__basket::before {
    content: "";

    position: absolute;
    top: 8px;
    left: 18px;

    width: 25px;
    height: 25px;

    background-image: url("../img/backet-catalog.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-navigation .user-navigation__active {
    padding-right: 20px;

    background-color: #f7f6f3;
}

a.user-navigation__active {
    color: #323232;

    font-weight: 500;
}

.user-navigation__login {
    position: relative;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 15px;
    margin-left: 10px;

    background-color: #9db1a5;

    border-radius: 17px;
}

.user-navigation__login::before {
    content: "";

    position: absolute;
    top: 8px;
    left: 17px;

    width: 22px;
    height: 20px;

    background-image: url(../img/login.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-navigation__login:hover {
    color: #323232;

    background-color: #f8f7f4;
}

.user-navigation__login:hover:before {
    background-image: url(../img/login-hover.png);
}

.user-navigation__search {
    position: relative;

    width: 35px;
    height: 35px;

    background-color: #9db1a5;

    border-radius: 50%;
}

.user-navigation__search::before {
    content: "";

    position: absolute;
    top: 10px;
    left: 10px;

    width: 17px;
    height: 17px;

    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-navigation__search:hover {
    background-color: #f8f7f4;
}

.user-navigation__search:hover::before {
    background-image: url(../img/search-hover.png);
}

.user-navigation .user-navigation__search  {
    font-size: 0;
}

.main-header__contact {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    text-align: right;
}

.main-header__contact span {
    font-size: 22px;
    line-height: 24px;
}

/*Вікно пошуку*/

.search {
    position: absolute;
    top: 62px;
    right: 425px;

    display: none;
    width: 340px;

    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

    border-radius: 10px;
}

.search__form input[type="text"] {
    box-sizing: border-box;

    width: 308px;
    margin: 0;
    margin: 20px 15px;
    padding: 10px 14px;

    font: inherit;
    font-size: 14px;
    line-height: 24px;
    color: #999999; 

    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

/*Вікно входу*/

.modal {
    position: absolute;
    top: 62px;
    right: 315px;

    display: none;
    width: 275px;

    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

    border-radius: 5px;
    border: 1px solid transparent;
}

.modal__exit input {
    box-sizing: border-box;

    font: inherit;
    font-size: 14px;
    line-height: 24px;
    color: #999999;

    margin: 0;
    margin-left: 18px;
    padding: 12px 15px;
    width: 238px;

    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.modal__exit input[type="text"] {
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal__exit input[type="password"] {
    margin-bottom: 20px;
}

.form__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin: 0;
    margin-bottom: 20px;
}

.button {
    font: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #fefefe;

    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 1px 2px 0px #ac1000;

    border: none;

    border-radius: 23px;

    cursor: pointer;
}

.button:hover {
    background-image: linear-gradient( 90deg, rgb(245,134,105) 0%, rgb(237,112,94) 100%);
    box-shadow: 0px 2px 2px 0px #ac1000;
}

.button:active {
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px #952718;
}

.user-btn {
    margin: 0;
    margin-left: 20px;
    margin-right: 18px;
    padding: 12px 25px;
}

.user-link__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-link__wrapper .user-link {
    align-self: flex-start;

    font-size: 13px;
    line-height: 18px;
    color: #323232;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.3);
}
 
/*Хлібні крихти*/

.breadcrumbs {
    display: flex;

    margin: 0;
    margin-top: -20px;
    padding: 0;

    font-size: 14px;
    line-height: 18px;

    list-style: none;
}

.breadcrumbs a {
    color: #ffffff;
}

.breadcrumbs a[href] {
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs a[href]:focus,
.breadcrumbs a[href]:hover {
    color: #ffbc9e;
}

.breadcrumbs__arrow {
    position: relative;

    padding-right: 20px;
}

.breadcrumbs__arrow::after {
    content: "»";

    position: absolute;
    top: 0;
    left: 60px;
}

.breadcrumbs__arrow:hover::after {
    color: #ffffff;
}

/*Форма для фільтру для морозива*/

.filters {
    margin-bottom: 40px;
}

.filters h2 {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
}

.filters__form {
    display: flex;
    flex-wrap: wrap;
}

/*стилізація - select*/

.filters__form fieldset {
    margin: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 0;

    border: none;
}

.filters__form fieldset:nth-child(4) {
    margin-right: 25px;
}

.filters__form legend {
    padding-left: 15px;
    padding-bottom: 5px;

    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.select__conteiner {
    position: relative;

    display: inline-block;
}

.select__conteiner select {
    padding: 10px 15px;
    padding-right: 40px;

    font: inherit;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;

    background-color: #a9bab0;
    
    border: none;
    outline: none;
    border-radius: 30px;

    -webkit-appearance: none;
    appearance: none;

    cursor: pointer;
}

.select__conteiner select:hover {
    color: #000000;
}

.select__conteiner select:focus,
.select__conteiner select:active {
    background-color: #ffffff;

    color: #000000;
}

.select__conteiner::after {
    content: "";

    position: absolute;
    top: 15px;
    left: 170px;

    border: 7px solid transparent;
    border-top: 12px solid #ffffff;
}

.select__conteiner:focus::after,
.select__conteiner:hover::after,
.select__conteiner:active::after{
    border-top: 12px solid #000000;
}

/*повзунки зміни діапазону ціни*/

.range-controls {
    position: relative;

    width: 220px;
    height: 35px;

    background-color: #abbcb2;

    border-radius: 20px;
}

.range-controls .scale {
    display: inline-block;
    margin: 15px 20px;

    width: 175px;
    height: 4px;

    background-color: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
    width: 105px;
    height: 4px;
    margin-left: 30px;

    background-color: #ffffff;
}

.range-controls .toggle {
    position: absolute;
    top: 7px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;

    background-color: #ababab;

    border: 8px solid #ffffff;
    border-radius: 50%;
}

.range-controls .toggle-min {
    left: 40px;
}

.range-controls .toggle-max {
    left: 150px;
}

/*стилізація жирності товарі*/

.filter__list {
    display: flex;
    width: 425px;
    padding: 0;
    margin: 0;

    background-color: rgba(255, 255, 255, 0.2);

    border-radius: 20px;

    list-style: none;
}

.filter__list--check {
    width: 700px;
}

.filter-option {
    padding: 0;
    margin: 7px 0;
}

.filter-option .filter__item {
    position: relative;

    font: inherit;
    line-height: 18px;
    font-weight: 500;

    padding-left: 50px;

    cursor: pointer;
}

.filter__item input[type="radio"] + .radio-indicator {
    position: absolute;
    top: -3px;
    left: 15px;

    width: 15px;
    height: 15px;

    border: 5px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.filter__item input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: -3px;
    left: 15px;

    width: 20px;
    height: 20px;

    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.filter__item input[type="radio"]:checked + .radio-indicator::before {
    content: "";

    position: absolute;
    top: 3px;
    left: 3px;

    width: 9px;
    height: 9px;

    background-color: rgba(255, 255, 255, 0.8);

    border-radius: 50%;
}

.filter__item input[type="checkbox"]:checked + .checkbox-indicator::before {
    content: "";

    position: absolute;
    top: 9px;
    left: 2px;

    width: 10px;
    height: 5px;

    background-color: #eef1ef;
    
    transform: rotate(45deg);
}

.filter__item input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";

    position: absolute;
    top: 7px;
    left: 6px;

    width: 20px;
    height: 5px;

    background-color: #eef1ef;
    
    transform: rotate(-45deg);
}

.filter__btn {
    align-self: center;
    padding: 0;
    padding: 8px 30px;
    margin: 0;

    font: inherit;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;

    background-color: #a6b7ae;

    border: 2px solid #ffffff;
    border-radius: 20px;

    cursor: pointer;
}

.filter__btn:hover {
    color: #323232;

    background-color: #ffffff;
}

.filter__btn:active {
    padding-top: 9px;
    padding-bottom: 9px;

    color: #323232;
    
    background-color: #eaeaea;
    box-shadow: inset 0px 2px 1px 0px #6a6b6a;

    border: none;
}

/*Каталог товарів*/

.catalog {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.catalog p {
    margin: 0;
    padding: 0;
}

.catalog__list {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog__item {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    width: 267px;

    cursor: pointer;
}

.catalog__item:hover {
    padding-top: 6px;
    padding-right: 14px;
    padding-left: 14px;

    background-color: #9bafa3;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.catalog__item--image {
    position: relative;
    z-index: 1;
}

.catalog__item--image::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 61px;
    height: 61px;

    background-image: url(../img/hit.png);
    background-repeat: no-repeat;
}

.catalog__item--image img {
    display: inline-block;

    border-radius: 50%;
}

.catalog__item--price {
    position: relative;
    z-index: 2;

    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    text-align: left;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

p.catalog__item--price {
    margin: 0;
    margin-top: -55px;
    margin-left: 10px;
    margin-bottom: 25px;
    padding: 0;
}

.catalog__item--title {
    padding: 0;
    margin: 0;
    
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

.catalog__item--title:hover,
.catalog__item--title:active {
    color: #ffbc9e;
    text-decoration-color: #ffbc9e;
}

.catalog__item--btn {
    display: none;

    padding: 12px 17px;
    margin: 17px 30px;
    margin-bottom: 22px;
}

.catalog__item:hover .catalog__item--btn {
    display: block;
}

/*стилізація пагінатора*/

.pagination__list {
    display: flex;

    margin: 0;
    padding: 0;
    margin-left: auto;

    line-height: 18px;
    font-weight: 500;

    list-style: none;
}

.pagination__list a {
    color: #ffffff;
}

.pagination__item {
    margin-left: 15px;
}

.pagination__item:nth-child(7) {
    margin-left: 25px;
}

.pagination__item:nth-child(2) {
    margin-left: 25px;
}

.pagination__item--arrow-left,
.pagination__item--arrow-right {
    position: relative;
}

.pagination__item--arrow-left::before,
.pagination__item--arrow-right::before {
    content: "";

    position: absolute;
    top: 3px;
    left: 0;

    width: 20px; 
    height: 20px;

    background-image: url("../img/arrow-left.png");
    background-repeat: no-repeat;
}

.pagination__item--arrow-right::before {
    background-image: url("../img/arrow-right.png");
    background-repeat: no-repeat;
}

a.pagination__item--active {
    padding: 5px 10px;

    text-align: center;
    vertical-align: middle;
    color: #323232;

    background-color: #ffffff;

    border-radius: 50%;
}

.pagination__item a[href]:hover,
.pagination__item a[href]:active {
    padding: 5px 10px;

    text-align: center;
    vertical-align: middle;
    color: #323232;

    background-color: #9db1a5;

    border-radius: 50%;
}

.pagination__item a[href]:active {
    background-color: #ffffff;
}

.line {
    width: 100%;
    height: 1px;

    background-color: rgba(255, 255, 255, 0.3);
}

/*Футер*/

.main-footer .conteiner{
    display: flex;
    justify-content: space-between;

    margin-top: 30px;
    margin-bottom: 30px;
}

.social__footer {
    width: 265px;
    margin-top: 10px;
    align-self: flex-start;

    text-align: left;
}

.social__footer ul {
    display: flex;
    justify-content: flex-start;

    margin: 0;
    padding: 0;

    list-style: none;
}

.social-button {
    margin-right: 10px;
}

.social-button path {
    fill: rgba(255, 255, 255, 0.8);
}

.social-button path:hover,
.social-button path:focus {
    fill: #ffffff;
}

.social-button svg {
    border: 2px solid rgba(255, 255, 255, 0.5);

    border-radius: 50%;
}

.suppliers__footer {
    width: 350px;
    margin: 0;
    margin-top: 15px;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;

    font-size: 13px;
    line-height: 18px;
}

.suppliers__footer a {
    color: #ffffff;

    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

.suppliers__footer a:hover,
.suppliers__footer a:active {
    color: #ffbc9e;

    text-decoration-color: #ffbc9e;
}

.suppliers__link {
    width: 170px;
    padding: 0;
    padding-bottom: 5px;
}

.suppliers__link--heart {
    position: relative;

    font-weight: bold;
}

.suppliers__link--heart::before {
    content: "";

    position: absolute;
    top: -2px;
    left: -20px;

    width: 15px;
    height: 15px;

    background-image: url(../img/heart.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.suppliers__link--heart:hover::before {
    background-image: url(../img/heart-hover.png);
}

.footer__copyright {
    width: 190px;

    font-size: 12px;
    line-height: 18px;
    color: #fefefe;
}

.footer__copyright p {
    margin: 0;
    padding: 0;
}

.footer__copyright a {
    color: #fefefe;

    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

.footer__copyright a:hover {
    color: #ffbc9e;

    text-decoration-color: #ffbc9e;
}

/*--Вспливаюче вікно в корзині*/

.popup {
    position: absolute;
    top: 62px;
    right: 185px;

    display: none;

    width: 540px;

    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    border: 1px solid transparent;

    border-radius: 5px;
}

.popup__form .popup__list {
    display: flex;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;

    font: inherit;
    font-size: 13px;
    line-height: 16px;
    color: #323232;

    list-style: none;
}

.popup__image {
    align-self: center;
    width: 40px;
    margin-left: 10px;
    margin-right: 12px;
}

.popup__title {
    align-self: center;
    width: 220px;
    margin-right: 25px;
}

.popup__price {
    align-self: center;
    width: 100px;
    margin-right: 25px;
}

.popup__price span {
    color: #999999;
}

.popup__item {
    align-self: center;
    width: 50px; 
}

.popup__order .close__order {
    position: relative;

    padding-left: 40px;

    font-size: 0;
}

.popup__order .close__order::before,
.popup__order .close__order::after {
    content: "";

    position: absolute;
    top: 15px;
    left: 15px;

    width: 17px;
    height: 2px;

    background-color: #323232;

    transform: rotate(45deg);

    cursor: pointer;
}

.popup__order .close__order::after {
    transform: rotate(-45deg);
}

.popup__form .popup__line {
    width: 510px;
    height: 1px;
    margin-left: 15px;

    background-color: #cacac7;
}

.popup__sum {
    display: flex;
    justify-content: flex-end;
    margin: 15px;

    font: inherit;
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    color: #323232;
}

button.popup-btn {
    display: flex;
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 20px;
    padding: 10px 15px;
}

